.FrameListBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    scrollbar-width: inherit;
    scrollbar-color: rgb(18, 30, 57) orange;
}
.framePointer{
    margin: 15px;
    border: 2px solid rgb(227, 177, 101);
    border-radius: 15px;
    padding: 25px;
    background-color: white;
}

.framePointer:hover{
    background-color: rgb(37, 44, 52);
    color:white;
}
.Frame-icons{
    width: 120px;
}
.scroll-title{
    display: none;
}

@media (max-width: 415px) {
    .FrameListBox{
        flex-wrap:nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 10px;
    }
    .framePointer{
        font-size: 14px;
        width: 90px;
        height: 90px;
        margin: 2px;
    }
    .Frame-icons{
        width: 50px;
    }
    .scroll-title{
        display: block;
    }
}