.logo-container{
    display: flex;
    margin-bottom: 25px;
}
.logo-container>img{
    width: 250px;
}

@media (max-width: 415px) {
    .logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
}